:root {
    --orange: #f17949;
    --juice: #fab131;
    --morning: #c7ddea;
    --dirt: #a9a19e;
    --dust: #ebebeb;
    --chocolate: #793d24;
    --sea: #777574;
    --reaper: rgb(0, 0, 0, 0.55);
    @media screen and (max-width: 420px) {
        font-size: 0.8rem;
    }
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url("/fonts/FrankRuhlLibre-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Regular.ttf");
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Medium.ttf");
    font-weight: medium;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Bold.ttf");
    font-weight: bold;
}

body {
    margin: 0;
    font-family: "Fira Sans";

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Frank Ruhl Libre";
}

a.btn {
    font-family: "Fira Sans";
    color: black;
    text-decoration: none;
    background-color: white;
    font-weight: medium;
    padding: 1rem 4rem;
    border-radius: 30px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
}

.navbar {
    min-height: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    place-content: center;
    text-align: center;
    > a {
        text-decoration: none;
        font-family: "Fira Sans";
        color: var(--dirt);
    }
    > a:hover {
        color: black;
    }
}

#home {
    display: grid;

    .navbar {
        background-color: var(--dust);
    }

    .navbar > a:nth-child(1) {
        color: black;
    }

    .one-two {
        display: grid;
        height: 180svh;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;

        @media screen and (min-width: 1530px) {
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            height: 80svh;

            > .square-big:first-of-type {
                background-size: 60%;
                background-position: bottom right;
            }
        }

        > .square-big:nth-child(1) {
            background: url(img/family.png) var(--morning);
            background-repeat: no-repeat;
            background-size: calc(37svh);
            background-position: bottom center;
            grid-row: 2 span;
            display: grid;
            grid-template: 1fr 1fr 2fr / 1fr;
            place-items: start;
            padding: 0 15%;

            > h1 {
                font-size: 3.5rem;
                line-height: calc(3.5rem + 3px);
                margin: auto auto 0 0;
                text-wrap: nowrap;
                font-variation-settings: "wght" 900;
            }
            > p {
                font-size: 1.2rem;
                line-height: calc(1.2rem + 15px);
                text-wrap: nowrap;
                color: var(--reaper);
                align-self: center;
                > strong {
                    color: white;
                    font-weight: normal;
                }
            }

            > a.btn {
                margin: 0 auto auto 0;
                @media screen and (min-width: 1530px) {
                    margin: 7% auto auto 0;
                }
            }
        }

        > .square-link:nth-of-type(1) {
            background-color: var(--orange);
        }

        > .square-link:nth-of-type(2) {
            background-color: var(--juice);
        }

        > :nth-child(n + 2) {
            a {
                font-family: "Frank Ruhl Libre";
                text-decoration: none;
                font-size: 2.7rem;
                color: white;
                font-variation-settings: "wght" 900;
            }
            p {
                color: var(--reaper);
                font-weight: bold;
            }
            display: grid;
            place-content: center;
            place-items: center;
        }
    }

    .safety {
        display: grid;
        background-color: var(--dirt);
        padding: 5%;

        > h1 {
            color: white;
            font-size: 3.5rem;
            line-height: calc(3.5rem + 3px);
            margin: 7% auto 0 auto;
        }

        .btn {
            display: none;
        }
        @media screen and (min-width: 1530px) {
            
            grid-template: 40% auto 1fr / repeat(6, 1fr);
            padding: 10% max(calc((100lvw - 1400px)/2), 10%);

            > h1 {
                grid-column: 3 span;
                order: 1;
                max-width: 400px;
                margin: 0;
            }

            > .btn {
                display: inline-block;
                grid-column: 2 span;
                order: 3;
                margin: 0 auto auto 0;
            }

            > p {
                grid-column: 5 / 7;
                grid-row: 2 span;
                order: 2;
            }

            .hover {
                grid-column: 6 span;
                order: 4;
                justify-content: space-between !important;
                margin-bottom: -400px !important;
            }

        }

        p {
            font-size: 1.2rem;
            line-height: calc(1.2rem + 15px);
            color: var(--reaper);
            @media screen and (max-width: 420px) {
                max-width: 90%;
            }
        }


        .hover {
            margin-top: 15%;
            display: grid;
            gap: 64px;
            place-items: center;
            @media screen and (min-width: 1530px) {
                gap: 40px;
                margin-bottom: -225px;
                grid-auto-flow: column;
                place-content: center;
            }

            .child {
                background-color: white;
                border-radius: 5px;
                box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
                height: 450px;
                width: 380px;
                @media screen and (max-width: 420px) {
                    width: 95%;
                }
                display: grid;
                place-items: center;
                place-content: start;

                h2 {
                    position: relative;
                    bottom: 15px;
                }

                p {
                    font-size: 1rem;
                    line-height: calc(1rem + 7px);
                    width: 80%;
                    position: relative;
                    bottom: 30px;
                    text-align: center;
                }

                .color {
                    width: 90%;
                    height: 200px;
                    padding-top: 20px;
                    overflow: hidden;
                    border-radius: 5px;
                    position: relative;
                    bottom: 30px;
                    display: grid;
                    place-items: center;
                    img {
                        width: 150px;
                    }

                }
            }
            :nth-child(1) .color {
                background-color: var(--morning);
            }
            :nth-child(2) .color {
                background-color: var(--juice);
            }
            :nth-child(3) .color {
                background-color: var(--orange);
            }
        }
    }

    .about {
        background-color: var(--juice);
        display: grid;
        padding: 5% 15% 20% 15%;
        @media screen and (min-width: 1530px) {
            margin: 10% auto 0 auto;
        }
        place-items: center;

        > h1 {
            color: white;
            font-size: 3.5rem;
            line-height: calc(3.5rem + 3px);
            @media screen and (min-width: 1530px) {
                margin: 10% auto 0 auto;
            }
        }

        p {
            font-size: 1.2rem;
            line-height: calc(1.2rem + 7px);
            color: var(--reaper);
            text-align: center;
            @media screen and (min-width: 1530px) {
                max-width: 50%;
            }
        }
    }

    .squares {
        display: grid;
        @media screen and (min-width: 1530px) {
            grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        }

        .square {
            position: relative;
            text-align: center;
            padding: 25px;
            height: 200px;
            @media screen and (min-width: 1530px) {
                height: unset !important;
                aspect-ratio: 1;
            }
            display: grid;
            place-items: center;
            
            h2 {
                position: absolute;
                top: 5%;
                left: 5%;
                text-align: left;
                font-size: 3rem;
                color: var(--dirt);
                margin: 0;
            }

            p {
                font-size: 1.3rem;
                color: var(--reaper);
                width: 80%;
            }

        }

        .square:nth-child(1) {
            font-size: 3em;
            background-color: var(--morning);

            h1 {
                margin: 0;
            }
        }
        .square:nth-child(3) {
            background-color: var(--dust);
        }
        .square:nth-child(5) {
            background-color: var(--orange);
        }
    }

    footer {
        background-color: var(--sea);
        display: grid;
        grid-auto-rows: min-content;
        height: 500px;

        .arrow {
            fill: var(--reaper);
            height: 2rem;
        }

        .return {
            text-decoration: none;
            color: var(--reaper);
            background-color: var(--dirt);
            text-align: center;
            font-size: 1.4rem;
            padding: 0.5rem 0 2rem 0;
            line-height: 1.4rem;
        }

        @media screen and (max-width: 1530px) {
            .return {
                display: none;
            }
        }

        

    }

}

#contact {
    .square-big {
        background: url(img/man-baby.png) var(--morning);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: bottom right 15px;
        display: grid;
        place-items: center left;
        aspect-ratio: 1;
        h1 {
            margin-left: 5%;
            font-size: 3.5rem;
            width: 50%;
            font-variation-settings: "wght" 900;
        }
    }

    .navbar {
        grid-template: 1fr 1fr / 1fr 1fr;
        min-height: 8rem;
        > a {
            padding: 30px;
        }
        > a:nth-child(4) {
            background-color: var(--dust);
            color: black;
        }
    }

    footer {
        display: none;
    }
}
