:root {
    --orange: #f17949;
    --juice: #fab131;
    --morning: #c7ddea;
    --dirt: #a9a19e;
    --dust: #ebebeb;
    --chocolate: #793d24;
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url("/fonts/FrankRuhlLibre-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Regular.ttf");
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Medium.ttf");
    font-weight: medium;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Bold.ttf");
    font-weight: bold;
}

body {
    margin: 0;
}

a.btn {
    font-family: "Fira Sans";
    color: black;
    text-decoration: none;
    background-color: white;
    font-weight: medium;
    padding: 1rem 3rem;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
}

#home {
    display: grid;
    grid-template-rows: 9fr 1fr;
    height: 200lvh;

    > article {
        background-color: var(--morning);
        display: grid;
        grid-template-rows: 3fr 1fr 1fr;

        > article.fill {
            p {
                font-family: "Fira Sans";
            }
        }

        > article.fill:nth-child(n + 2) {
            p {
                color: var(--chocolate);
            }
        }

        > article.fill:nth-child(2) {
            background-color: var(--orange);
        }

        > article.fill:nth-child(3) {
            background-color: var(--juice);
        }
    }

    @media only screen and (min-width: 1000px) {
        height: 90lvh;

        > article {
            grid-template: 1fr 1fr / 1fr 1fr;

            > article.fill:first-child {
                grid-row: 2 span;
            }
        }
    }
}

.navbar {
    background-color: var(--dust);
}

.fill {
}
